 Ques:3 Explain the use of the following operators using an example

Division(/):10/2=5, as 10 divided by 2 equals 5

Modulus(%)

In [2]:
10%3

1

Floor Division(//)

In [3]:
10//3

3

Exponentiation():**

In [5]:
2**3

8

Q.1 Create one variable containg follwing type of data

ans 1.string

ans 2

var1=' ' it is string no characters,so its data type str (string)

In [ ]:
var2='[DS,ML,Python]' it is a string contanining charaters, so its data type is also 'str'string

In [ ]:
var3=['DS', 'ML', 'python'] it is a list containing string , so its data type is list

var4=1, it is integer so its data type is 'int'(integer)

Ques 4 create a list of length 10 of your choice containing multiple types of data.Using for loop print the element and its data type.

In [10]:
my_list=[42,'hello', 3.14, True,[1,2,3], {'key':'value'}, None, (4,5), "word", False]

In [11]:
for element in my_list:
    print(f"Element:{element},Data Type :{type(element)}")

Element:42,Data Type :<class 'int'>
Element:hello,Data Type :<class 'str'>
Element:3.14,Data Type :<class 'float'>
Element:True,Data Type :<class 'bool'>
Element:[1, 2, 3],Data Type :<class 'list'>
Element:{'key': 'value'},Data Type :<class 'dict'>
Element:None,Data Type :<class 'NoneType'>
Element:(4, 5),Data Type :<class 'tuple'>
Element:word,Data Type :<class 'str'>
Element:False,Data Type :<class 'bool'>

Q.5 using a while loop verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [15]:
A=24
B=3
count=0
while A % B ==0:
    A=A/B
    count +=1
if A==1:
    print(f"{A} is purely divisibleby {B},and it can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

8.0 is not purely divisible by 3.

Q.6 creat a list containing 25 int type data using for loop and if else condition print if the element is divisible by 3 or not

In [16]:
my_list=[i for i in range(1,26)]
for element in my_list:
    if element % 3==0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q.7 what do you understand about mutable and immutable data type? Give example for both showing this property.

Mutable=Objects of mutable data type can be modifided after creation example

In [17]:
mutable_list =[1,2,3]
print("Original List:", mutable_list)

Original List: [1, 2, 3]

In [18]:
mutable_list[0]=99
print("Modified List:",mutable_list)

Modified List: [99, 2, 3]

Immutable Data type:Objectes of immutable data type cannot be modified after creation. example

In [20]:
immutable_string="Hello"

In [21]:
print("original string:",immutable_string)

original string: Hello

In [22]:
immutable_string += ",World!"

In [23]:
print("modified string:",immutable_string)

modified string: Hello,World!